
h1 {
    font-size: 5rem;
    color: rgb(238, 228, 142);
    font-family: fantasy, sans-serif;
}

section {
    background-color: rgb(116, 199, 116);
    padding-top: 20px;
    padding-bottom: 20px;
    border: 4px dashed rgb(188, 140, 223);
    width: 1000px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

div {
    font-size: 3rem;
    font-family: sans-serif, fantasy;
    color: rgb(127, 106, 141);
}

body {
    background-color: rgb(127, 191, 231);
}

input {
    background-color: rgb(235, 163, 235);
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

button {
    color: rgb(230, 152, 116);
    background-color: rgb(231, 215, 127);
    font-size: 1rem;
}